In [56]:
#60211670 송지은
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
from matplotlib import font_manager, rc
from decimal import Decimal
import matplotlib.pyplot as plt

data1 = pd.read_csv("../자료/WHO-COVID-19-global-data.csv")
data1

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
250504,2022-11-20,ZW,Zimbabwe,AFRO,0,257893,0,5606
250505,2022-11-21,ZW,Zimbabwe,AFRO,0,257893,0,5606
250506,2022-11-22,ZW,Zimbabwe,AFRO,0,257893,0,5606
250507,2022-11-23,ZW,Zimbabwe,AFRO,0,257893,0,5606
250508,2022-11-24,ZW,Zimbabwe,AFRO,0,257893,0,5606

In [37]:
data_1 = data1.groupby("Date_reported")['New_cases'].mean().astype(int)
data_1

Date_reported
2020-01-03       0
2020-01-04       0
2020-01-05       0
2020-01-06       0
2020-01-07       0
              ...
2022-11-20    1145
2022-11-21     645
2022-11-22    1257
2022-11-23    1897
2022-11-24     947
Name: New_cases, Length: 1057, dtype: int64

In [43]:
data_2 = data1.groupby("Date_reported")['Cumulative_cases'].mean().astype(int)
data_2

Date_reported
2020-01-03          0
2020-01-04          0
2020-01-05          0
2020-01-06          0
2020-01-07          0
               ...
2022-11-20    2679175
2022-11-21    2679820
2022-11-22    2681077
2022-11-23    2682975
2022-11-24    2683922
Name: Cumulative_cases, Length: 1057, dtype: int64

In [48]:
data_3 = data1.groupby("Date_reported")['New_deaths'].mean().astype(int)
data_3

Date_reported
2020-01-03    0
2020-01-04    0
2020-01-05    0
2020-01-06    0
2020-01-07    0
             ..
2022-11-20    2
2022-11-21    1
2022-11-22    2
2022-11-23    4
2022-11-24    2
Name: New_deaths, Length: 1057, dtype: int64

In [47]:
data_4 = data1.groupby("Date_reported")['Cumulative_deaths'].mean().astype(int)
data_4

Date_reported
2020-01-03        0
2020-01-04        0
2020-01-05        0
2020-01-06        0
2020-01-07        0
              ...
2022-11-20    27857
2022-11-21    27859
2022-11-22    27861
2022-11-23    27865
2022-11-24    27867
Name: Cumulative_deaths, Length: 1057, dtype: int64

In [53]:
data = pd.concat([data_1,data_2,data_3,data_4],axis=1)
data

               New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
Date_reported
2020-01-03             0                 0           0                  0
2020-01-04             0                 0           0                  0
2020-01-05             0                 0           0                  0
2020-01-06             0                 0           0                  0
2020-01-07             0                 0           0                  0
...                  ...               ...         ...                ...
2022-11-20          1145           2679175           2              27857
2022-11-21           645           2679820           1              27859
2022-11-22          1257           2681077           2              27861
2022-11-23          1897           2682975           4              27865
2022-11-24           947           2683922           2              27867

[1057 rows x 4 columns]

KeyError: "['Date_reported'] not in index"